<template>
  <div class="container-fluid">
    <div class="container-fluid">
      <Search v-on:list="updateList($event)"/>
    </div>
    <div class="container-fluid">
      <Result :movieList="movieList" v-on:addFavs="addFavs($event)"/>
    </div>
  </div>
</template>

<script>
import Search from './search/Search'
import Result from './result/Result'

export default {
  name: 'MovieList',
  components: {
    Search,
    Result
  },
  props: ['movieList'],
  methods: {
    updateList ($event) {
      this.$emit('listFilms', $event)
    },
    addFavs ($event) {
      this.$emit('addFav', $event)
    }
  }
}
</script>
