<template>
  <div class="card">
    <div v-for="(movie, index) in movieList" :key="index" class="mt-5">
      <div class="row">
        <div class="col-md-4">
          <img v-bind:src="'https://image.tmdb.org/t/p/w154/'+ movie.poster_path" class="w-40" />
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">{{ movie.title }}</h4>
            <p class="card-text">{{movie.overview}}</p>
            <p class="card-text">date</p>
            <a href="#" class="btn btn-primary" v-on:click="addFavorite(movie.title, movie.poster_path)">Ajouter en favoris</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Result',
  props: ['movieList'],
  methods: {
    addFavorite (title, img) {
      let url = 'https://image.tmdb.org/t/p/w154/'
      let fav = [title, url + img]
      this.$emit('addFavs', fav)
    }
  }
}
</script>

<style scoped>
</style>
