<template>
  <div>
    <h3>My Fav</h3>
    <div class="card" v-for="(fav, index) in favorites" :key="index">
      <div class="row" :id="index">
        <div class="col-md-4 ml-2 mt-2">
          <button class="btn btn-danger float-left" v-on:click="removeFav(index)">X</button>
          <img :src="fav[1]" class="w-20" />
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">{{ fav[0] }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Favorite',
  props: ['favorites'],
  methods: {
    removeFav (index) {
      console.log(index)
      this.$emit('removeFav', index)
    }
  }
}
</script>

<style scoped>
</style>
