<template>
  <div class="md-form active-pink active-pink-2 mb-3 mt-0">
    <input
      v-model="filter"
      @keyup.enter="getMovie"
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Search',
  data () {
    return {
      filter: ''
    }
  },
  methods: {
    getMovie () {
      axios
        .get('https://api.themoviedb.org/3/search/movie?api_key=1bded0cf5ec81699b719a0ab217e461e&query=' + this.filter)
        .then(response => (
          this.$emit('list', response.data.results)
        ))
        .catch(error => console.log(error))
    }
  }
}
</script>

<style scoped>
</style>
