<template>
  <div id="app" class="mt-0">
<NavBar :counter="counter"/>
<div class="row">
  <div class="col-3 mt-5">
<Favorite :favorites="favorites" v-on:removeFav="removeFav($event)"/>
</div>
<div class="col-9 mt-5">
<MovieList :movieList="movieList" v-on:listFilms="upList($event)" v-on:addFav="addFav($event)"/>
</div>
</div>
  </div>
</template>

<script>
import NavBar from './components/nav/NavBar'
import Favorite from './components/favorite/Favorite'
import MovieList from './components/movie-list/MovieList'

export default {
  name: 'App',
  components: {
    NavBar,
    Favorite,
    MovieList
  },
  data () {
    return {
      movieList: [],
      favorites: [],
      counter: 0
    }
  },
  methods: {
    upList ($event) {
      this.movieList = $event
      return this.movieList
    },
    addFav ($event) {
      ++this.counter
      this.favorites.push($event)
      console.log(this.favorites)
    },
    removeFav ($event) {
      --this.counter
      this.favorites.splice($event, 1)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
