<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">{{ counter }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" v-on:click="test()">Test</a>
    </li>
  </ul>
</nav>
</template>

<script>
export default {
  name: 'NavBar',
  props: ['counter'],
  methods: {
    test () {
      console.log(this.counter)
    }
  }
}
</script>

<style scoped>

</style>
